* {
    margin: 0%;
    word-wrap: break-word;
}

#sendButton {
    visibility: hidden;
    display: flex;
    position: absolute;
    cursor: pointer;
    scale: 2.5;
    bottom: 0;
    right: 0;
    margin-bottom: 84px;
    margin-right: 7.7%;
}

#sendIcon {
    visibility: visible;
}

#userMessage {
    display: flex;
    position: absolute;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    width: 85%;
    bottom: 0;
    right: 0;
    margin-bottom: 63px;
    margin-right: 7.5%;
    font-size: large;
}

@keyframes buttonClick {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.6);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes loadingSpin {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#sendButton.animate {
    animation: buttonClick 0.4s ease;
}

#loadingIcon.animate.real {
    animation: loadingSpin 0.4s ease infinite;
    visibility: visible;
    position: static;
}

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#sendIcon {
    visibility: visible;
}




#chatbox {
    display: flex;
    border: 1px solid #555555;
    overflow: scroll;
    height: 700px;
    overflow-x: hidden;
    flex-direction: row;
}

#chatbox>p {
    margin: 0%;
}

#textcover {
    position: absolute;
    background-color: #555555;
    left: 0;
    right: 0;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 80%;
    height: 160px;
    z-index: -1;
    border-radius: 20px;
}

p {
    font-size: 22px;
    display: block;
    margin-top: 1px;
    width: auto;
}

.response {
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
    word-wrap: break-word;
}

#userbubble {
    display: flex;
    width: 50%;
    word-wrap: break-word;
    flex-direction: column;
}

#response {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
#app {
    height: 100%;
    overflow: hidden;
}

html {
    overflow: hidden;
}

#loadingIcon {
    width: 50px;
    height: 50px;
    visibility: hidden;
    position: absolute;
    margin-left: 5%;
    margin-right: 5%;
}

#returnarea {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}