#sendButton {
    visibility: hidden;
    display: inline;
    margin-top: 0.1%;
    position: absolute;
    cursor: pointer;
    scale: 2;
}

#sendIcon {
    visibility: visible;
}

#userMessage {
    position: absolute;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    padding: 5px;
    box-sizing: border-box;
    width: 80%;
}

#chatbox {
    border: 1px solid #555555;
    padding: 10px;
    height: 800px;
    overflow-y: scroll;
}

@keyframes buttonClick {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

#sendButton.animate {
    animation: buttonClick 0.4s ease;
}


h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#sendButton {
    visibility: hidden;
    display: inline;
    position: absolute;
    cursor: pointer;
    scale: 2;
}

#sendIcon {
    visibility: visible;
}

#userMessage {
    position: absolute;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    align-self: center;
    padding: 5px;
    box-sizing: border-box;
    width: 80%;
}

#chatbox {
    display: flex;
    flex-direction: row-reverse;
    border: 1px solid #555555;
    padding: 10px;
    height: 800px;
    overflow-y: scroll;
}

@keyframes buttonClick {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

#sendButton.animate {
    animation: buttonClick 0.4s ease;
}


#userMessage {
    margin-top: 89%;
    margin-right: 7%;

}

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#sendButton {
    margin-top: 90%;
    margin-right: 7%;

}

#container {
    display: flex;
    flex-direction: column-reverse;

}

#container {
    display: flex;
    flex-direction: column;

}